# cabal
dist
dist-*
cabal-dev
.cabal-sandbox/
cabal.sandbox.config
cabal.project.local
cabal.project.local~

# ghc
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.ghc.environment.*

# nix
result

# stack
.stack-work/
stack.yaml.lock

# other
*~
.hpc
.hsenv
*.prof
*.aux
*.hp
*.eventlog
.HTF/

# ctags file made with 'hasktags -c .'
tags
